In [1]:
import pandas as pd
import yaml

# In distribution

In [3]:
all_mean_metrics = []
all_single_scores = []
for subset in ["CD4", "CD8"]:
    with open(f"/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/chemCPA/{subset}_ID_dummy_donor/cmonge_eval_test.yml") as stream:
        logs = yaml.safe_load(stream)
    for car, stats in logs.items():
        res = pd.Series(stats["mean_statistics"])
        res = res.reset_index(drop=False).rename(columns={"index": "metric", 0: "score"})
        res["embedding"] = "ESM XL"
        res["eval_car"] = car
        res["eval_setting"] = "chemCPA"
        res["subset"] = subset
        all_mean_metrics.append(res)

        single_scores = pd.DataFrame({"r2": stats["r2"], "mmd": stats["mmd"]})
        single_scores["embedding"] = "ESM XL"
        single_scores["eval_car"] = car
        single_scores["eval_setting"] = "chemCPA"
        single_scores["subset"] = subset
        all_single_scores.append(single_scores)

In [4]:
results = pd.concat(all_mean_metrics)
single_scores = pd.concat(all_single_scores)
results

                 metric      score embedding     eval_car eval_setting subset
0   mean_drug_signature   0.755458    ESM XL  41BB-41BB-z      chemCPA    CD4
1              mean_mmd   0.197900    ESM XL  41BB-41BB-z      chemCPA    CD4
2        mean_monge_gap  12.591043    ESM XL  41BB-41BB-z      chemCPA    CD4
3               mean_r2   0.979230    ESM XL  41BB-41BB-z      chemCPA    CD4
4     mean_sinkhorn div   4.762205    ESM XL  41BB-41BB-z      chemCPA    CD4
..                  ...        ...       ...          ...          ...    ...
1              mean_mmd   0.230211    ESM XL     NA-NA-NA      chemCPA    CD8
2        mean_monge_gap  12.642635    ESM XL     NA-NA-NA      chemCPA    CD8
3               mean_r2   0.987148    ESM XL     NA-NA-NA      chemCPA    CD8
4     mean_sinkhorn div   4.692788    ESM XL     NA-NA-NA      chemCPA    CD8
5      mean_wasserstein   5.186988    ESM XL     NA-NA-NA      chemCPA    CD8

[192 rows x 6 columns]

In [5]:
single_scores

          r2       mmd embedding     eval_car eval_setting subset
0   0.979474  0.201551    ESM XL  41BB-41BB-z      chemCPA    CD4
1   0.980586  0.196777    ESM XL  41BB-41BB-z      chemCPA    CD4
2   0.983839  0.201224    ESM XL  41BB-41BB-z      chemCPA    CD4
3   0.975304  0.201573    ESM XL  41BB-41BB-z      chemCPA    CD4
4   0.973397  0.191961    ESM XL  41BB-41BB-z      chemCPA    CD4
..       ...       ...       ...          ...          ...    ...
6   0.989944  0.231597    ESM XL     NA-NA-NA      chemCPA    CD8
7   0.988544  0.230021    ESM XL     NA-NA-NA      chemCPA    CD8
8   0.986564  0.232835    ESM XL     NA-NA-NA      chemCPA    CD8
9   0.987653  0.231369    ESM XL     NA-NA-NA      chemCPA    CD8
10  0.986661  0.232208    ESM XL     NA-NA-NA      chemCPA    CD8

[352 rows x 6 columns]

In [8]:
results.to_csv("/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/chemCPA/ID_CD4_CD8_carot_results.csv")
single_scores.to_csv("/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/chemCPA/ID_CD4_CD8_carot_single_scores.csv")

# Out of distribution

In [9]:
all_mean_metrics = []
for subset in ["CD4", "CD8"]:
    with open(f"/Users/alicedriessen/Box/CAR_Tcells/Model/chemCPA/{subset}_OOD_dummy_donor/cmonge_eval_ood.yml") as stream:
        logs = yaml.safe_load(stream)
    for car, stats in logs.items():
        res = pd.Series(stats["mean_statistics"])
        res = res.reset_index(drop=False).rename(columns={"index": "metric", 0: "score"})
        res["eval_car"] = car
        res["eval_setting"] = "chemCPA"
        res["subset"] = subset
        all_mean_metrics.append(res)

In [10]:
results = pd.concat(all_mean_metrics)
results

                 metric      score      eval_car eval_setting subset
0   mean_drug_signature   1.035123  41BB-CTLA4-z      chemCPA    CD4
1              mean_mmd   0.202362  41BB-CTLA4-z      chemCPA    CD4
2        mean_monge_gap  12.592469  41BB-CTLA4-z      chemCPA    CD4
3               mean_r2   0.956967  41BB-CTLA4-z      chemCPA    CD4
4     mean_sinkhorn div   4.996128  41BB-CTLA4-z      chemCPA    CD4
..                  ...        ...           ...          ...    ...
1              mean_mmd   0.217361       NA-NA-z      chemCPA    CD8
2        mean_monge_gap  12.679510       NA-NA-z      chemCPA    CD8
3               mean_r2   0.980787       NA-NA-z      chemCPA    CD8
4     mean_sinkhorn div   6.063755       NA-NA-z      chemCPA    CD8
5      mean_wasserstein   6.607553       NA-NA-z      chemCPA    CD8

[192 rows x 5 columns]

In [11]:
results.to_csv("/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/chemCPA/OOD_CD4_CD8_carot_results.csv")

# Model per car

In [13]:
with open("/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/OT/CAR_variants.txt", "r") as f:
    cars = f.read().splitlines()
cars

['41BB-41BB-z',
 '41BB-CD28-z',
 '41BB-CD40-z',
 '41BB-CTLA4-z',
 '41BB-IL15RA-z',
 '41BB-NA-z',
 'CD28-41BB-z',
 'CD28-CD28-z',
 'CD28-CD40-z',
 'CD28-CTLA4-z',
 'CD28-IL15RA-z',
 'CD28-NA-z',
 'CD40-41BB-z',
 'CD40-CD28-z',
 'CD40-CD40-z',
 'CD40-CTLA4-z',
 'CD40-IL15RA-z',
 'CD40-NA-z',
 'CTLA4-41BB-z',
 'CTLA4-CD28-z',
 'CTLA4-CD40-z',
 'CTLA4-CTLA4-z',
 'CTLA4-IL15RA-z',
 'CTLA4-NA-z',
 'IL15RA-41BB-z',
 'IL15RA-CD28-z',
 'IL15RA-CD40-z',
 'IL15RA-CTLA4-z',
 'IL15RA-IL15RA-z',
 'IL15RA-NA-z',
 'NA-NA-NA',
 'NA-NA-z']

In [21]:
all_mean_metrics = []
for subset in ["CD4", "CD8"]:
    for car in cars:
        with open(f"/Users/alicedriessen/Box/LegacyFromOldColleagues/Alice/CAR_Tcells/Model/chemCPA/model_per_car/{subset}/{car}/cmonge_eval_test.yml") as stream:
            logs = yaml.safe_load(stream)
        for car_log, stats in logs.items():
            if car_log == "NA-NA-NA":
                continue
            res = pd.Series(stats["mean_statistics"])
            res = res.reset_index(drop=False).rename(columns={"index": "metric", 0: "score"})
            res["CAR"] = car_log
            res["setting"] = "chemCPA"
            res["subset"] = subset
            all_mean_metrics.append(res)

In [22]:
results = pd.concat(all_mean_metrics)
results

                 metric      score          CAR  setting subset
0   mean_drug_signature   1.018032  41BB-41BB-z  chemCPA    CD4
1              mean_mmd   0.291576  41BB-41BB-z  chemCPA    CD4
2        mean_monge_gap  12.524896  41BB-41BB-z  chemCPA    CD4
3               mean_r2   0.958008  41BB-41BB-z  chemCPA    CD4
4     mean_sinkhorn div   4.934079  41BB-41BB-z  chemCPA    CD4
..                  ...        ...          ...      ...    ...
1              mean_mmd   0.245312      NA-NA-z  chemCPA    CD8
2        mean_monge_gap  13.040359      NA-NA-z  chemCPA    CD8
3               mean_r2   0.962464      NA-NA-z  chemCPA    CD8
4     mean_sinkhorn div   6.343979      NA-NA-z  chemCPA    CD8
5      mean_wasserstein   6.781466      NA-NA-z  chemCPA    CD8

[372 rows x 5 columns]

In [23]:
results.to_csv("/Users/alicedriessen/Box/CAR_Tcells/Model/chemCPA/model_per_car/ID_CD4_CD8_carot_results.csv")

# 41BB OOD

In [2]:
all_mean_metrics = []
for subset in ["CD4", "CD8"]:
    with open(f"/Users/alicedriessen/Box/CAR_Tcells/Model/chemCPA/{subset}_41BB_OOD_dummy_donor/cmonge_eval_ood.yml") as stream:
        logs = yaml.safe_load(stream)
    for car, stats in logs.items():
        res = pd.Series(stats["mean_statistics"])
        res = res.reset_index(drop=False).rename(columns={"index": "metric", 0: "score"})
        res["eval_car"] = car
        res["eval_setting"] = "chemCPA"
        res["subset"] = subset
        all_mean_metrics.append(res)

In [3]:
results = pd.concat(all_mean_metrics)
results

                 metric      score       eval_car eval_setting subset
0   mean_drug_signature   0.813939    41BB-41BB-z      chemCPA    CD4
1              mean_mmd   0.185199    41BB-41BB-z      chemCPA    CD4
2        mean_monge_gap  12.596631    41BB-41BB-z      chemCPA    CD4
3               mean_r2   0.974135    41BB-41BB-z      chemCPA    CD4
4     mean_sinkhorn div   4.721583    41BB-41BB-z      chemCPA    CD4
..                  ...        ...            ...          ...    ...
1              mean_mmd   0.253200  IL15RA-41BB-z      chemCPA    CD8
2        mean_monge_gap  12.569225  IL15RA-41BB-z      chemCPA    CD8
3               mean_r2   0.848276  IL15RA-41BB-z      chemCPA    CD8
4     mean_sinkhorn div   6.168831  IL15RA-41BB-z      chemCPA    CD8
5      mean_wasserstein   6.719303  IL15RA-41BB-z      chemCPA    CD8

[120 rows x 5 columns]

In [4]:
results.to_csv("/Users/alicedriessen/Box/CAR_Tcells/Model/chemCPA/41BB_OOD_CD4_CD8_carot_results.csv")